<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dictionary" value=".\dic"  />
    <add key="voice" value=".\voice\nitech_jp_atr503_m001.htsvoice" />
    <add key="alpha" value="0.1" />
    <add key="beta" value="0.1" />
    <add key="fperiod" value="80" />
    <add key="sampling_rate" value="16000" />
    <add key="uv_threshold" value="0" />
  </appSettings>
</configuration>